<div class="single-medium-column">
    <div class="card medium-column padded-card">
    <h1 class="card-item">Edit <%= @user.username%></h1>
    <form action="/users/<%=@user.id%>" method="post">
        <input type="hidden" value="patch" name="_method">
        <div class="form-item">
            <label class="text-label"  for="username">Username*</label>
            <input class="text-input" id="username" type="text" name="username" value="<%=@user.username%>" required>
        </div>

        <div class="form-item">
            <label class="text-label" for="password">Password*</label>
            <input class="text-input" id="password" type="password" name="password" value="<%=%>" required>
        </div>

        <div class="form-item">
            <label class="text-label"  for="email">Email*</label>
            <input class="text-input" id="email "type="email" name="email" value="<%=@user.email%>" required>
        </div>

        <input class="action-link" type="submit" value="Update">
    </form>
    <br>
    <a class="edit-info" href="/users/<%=@user.id%>/delete">Delete Account</a>
</div>
</div>